<div class="container">
    <h1>Warhol Burgers</h1>
    <div class="row">
        <div class="col-6-sm">
            {{#each burgers}}
                {{this.burger_name}}<br>
            {{/each}}
        </div>
    </div>
</div>