html {
    background-image: url("../img/warholburgers.jpg");
    background-repeat: repeat-y repeat-x;
    /* background-color: tan; */
}
.container {
    background-color: rgb(20, 26, 73);
    color: gainsboro;
    position:relative;
    margin-top: 3rem;
    width: 100%;
    max-width: 60rem;
    height: 40rem;
    font-size: 1.3em;
    /* border-radius: 10px; */
    padding: 10px 10px 50px 10px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3),
                0px 5px 10px rgba(0, 0, 0, 0.3),
                0px 10px 80px rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(#fff624, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1{
    text-align: center;
}

.list {
  color: darkblue;
  font-size: 14px;
  padding: 0 !important;
  width: 100%;
  font-family: courier, monospace;
  border: 1px solid #dedede;
  background-color: white;
}
.list li {
  list-style: none;
  border-bottom: 1px dotted red;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}
.list li:hover {
  background-color: lightskyblue;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.button-style {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding: 15px 30px;
  border-radius: 4px;
  box-shadow: 0px 16px 47px -15px rgb(89, 11, 155);
  background: none;
  transition: all .2s cubic-bezier(.19,1,.22,1);
  border-radius: 8px;
  overflow: hidden;
  outline: none;
  transform: translateZ(0);
}
.button-style:hover{
  background-color: red;
}