<div class="row">
    <div class="col-md-12">
        <span class="text-center"><h2>Add Burger to Inventory</h2></span>
        <form action="" class="add-burger">
            <div class="form-group">
                <label for="burger">Burger Name:</label>
                <input type="text" id="newBurger" name="burgerName">
            </div>
            <button class="button-style" type="submit">Add Burger</button>
        </form>
    </div>
</div>